[dbUrl]
type = database
;jdbc:mysql://127.0.0.1:3306/napms?useUnicode=true&characterEncoding=gbk&tinyInt1isBit=false
data = 127.0.0.1
data_type = String
desc = 数据库连接url

[dbUser]
type = database
data = root
data_type = String
desc = 数据库连接用户名

[dbPass]
type = database
data = root
data_type = String
desc = 数据库连接密码

[dbMaxConnect]
type = database
data = 0
data_type = Integer
desc = 数据库连接池最大连接数

