[monsterRespawn]
type = game
data = 10000
data_type = Long
desc = 怪物刷新间隔，单位ms

[rankRefresh]
type = game
data = 3600000
data_type = Long
desc = 排名刷新间隔，单位ms

[couponRefresh]
type = game
data = 3600000
data_type = Long
desc = 现金券相关的刷新间隔，单位ms

[picEnabled]
type = game
data = false
data_type = Boolean
desc = 是否开启PIC码校验

[pinEnabled]
type = game
data = false
data_type = Boolean
desc = 是否开启PIN码校验

[picExpiration]
type = game
data = 20
data_type = Integer
desc = pic码失效时间，单位min

[pinExpiration]
type = game
data = 15
data_type = Integer
desc = pin码失效时间，单位min

[automaticRegister]
type = game
data = true
data_type = Boolean
desc = 账户不存在是否自动创建

[bcryptMigration]
type = game
data = true
data_type = Boolean
desc = 是否开启新版加密机制

[collectiveCharacterSlot]
type = game
data = false
data_type = Boolean
desc = 角色槽全大区通用

[deterredMultiClient]
type = game
data = false
data_type = Boolean
desc = 是否允许多开

[maxAllowedAccountHwId]
type = game
data = 10
data_type = Integer
desc = 一个账号最多能支持的机器码登录

[maxAccountLoginAttempt]
type = game
data = 15
data_type = Integer
desc = 一个账户最多能登录失败多少次

[loginAttemptDuration]
type = game
data = 120
data_type = Integer
desc = 登录失败达到上限后禁止登录多少秒

[useCustomKeySet]
type = game
data = false
data_type = Boolean
desc = 创建角色后，是否允许自定义键位

[useSupplyRateCoupons]
type = game
data = true
data_type = Boolean
desc = 是否允许通过现金商店出售利率券

[useMaxRangeEchoOfHero]
type = game
data = true
data_type = Boolean
desc = 是否使用英雄的最大距离回声

[useMts]
type = game
data = false
data_type = Boolean
desc = 是否开启拍卖行，关闭则启用拍卖行菜单

[useCpq]
type = game
data = true
data_type = Boolean
desc = 是否开启嘉年华CPQ

[useAutoHideGm]
type = game
data = true
data_type = Boolean
desc = GM是否自动隐身

[useFixedRatioPoolUpdate]
type = game
data = false
data_type = Boolean
desc = 是否固定比例更新血量和蓝量

[useFamilySystem]
type = game
data = true
data_type = Boolean
desc = 是否使用家族系统

[useDuey]
type = game
data = true
data_type = Boolean
desc = 是否启用Duey，特殊npc

[useRandomizePoolGain]
type = game
data = false
data_type = Boolean
desc = 获取血量和蓝量是否随机化，洗血会用到

[useItemSort]
type = game
data = true
data_type = Boolean
desc = 是否启用物品排序、合并

[useItemSortByName]
type = game
data = false
data_type = Boolean
desc = 排序根据物品名称而不是id

[useParTyForStarters]
type = game
data = false
data_type = Boolean
desc = 新手玩家是否能发起组队

[useServerAutoAssigner]
type = game
data = true
data_type = Boolean
desc = 是否使用heavenms内置的自动加点，会结合职业的次要属性来分配属性点

[useAutoAssignSecondaryCap]
type = game
data = true
data_type = Boolean
desc = 次要属性到达职业上限后不再分配，开始内置的自动加点才生效

[useAutoAssignStartersAp]
type = game
data = false
data_type = Boolean
desc = 新手是否自动分配属性，仅当新手允许分配属性时生效

[useStartingAp4]
type = game
data = true
data_type = Boolean
desc = 使用早期gms 4/4/4的起始数据。为了克服AP不足的问题，第1次/第2次任务提升为4AP/5AP

[useAutoBan]
type = game
data = false
data_type = Boolean
desc = 是否检查玩家作弊行为，并自动阻止

[useAutoBanLog]
type = game
data = true
data_type = Boolean
desc = 是否检查玩家作弊行为，并记录日志

[useAutoSave]
type = game
data = true
data_type = Boolean
desc = 是否自动保存，1h保存一次

[useRefreshRankMove]
type = game
data = true
data_type = Boolean
desc = 是否刷新排名升降

[useEnforceAdminAccount]
type = game
data = false
data_type = Boolean
desc = 是否强制本地客户端将具有GM字符的帐户视为GM帐户

[useEnforceNoviceExpRate]
type = game
data = true
data_type = Boolean
desc = 新手倍率恒定1倍，避免还没转职就十几级了

[useEnforceHpMpSwap]
type = game
data = false
data_type = Boolean
desc = 强制玩家分配给HP/MP的属性只能重新分配到HP/MP，洗血相关

[useEnforceMobLevelRange]
type = game
data = false
data_type = Boolean
desc = 比被杀怪物低N级的玩家将不会从打败它中获得任何经验

[useEnforceJobLevelRange]
type = game
data = true
data_type = Boolean
desc = 达到等级没有转职无法获取经验

[useEnforceJobSpRange]
type = game
data = false
data_type = Boolean
desc = 玩家技能点等级的上限是他们当前的等级所能获得的总数。更换job（职业）后，丢失的技能点将被找回

[useEnforceItemSuggestion]
type = game
data = false
data_type = Boolean
desc = 强制现金商店总是显示预设的商品，而不是玩家定义的商品

[useEnforceUnMerchAbleCash]
type = game
data = false
data_type = Boolean
desc = 玩家不允许销售现金物品，丢掉后立刻消失

[useEnforceUnMerchAblePet]
type = game
data = false
data_type = Boolean
desc = 玩家不允许销售宠物，丢掉后立刻消失

[useEnforceMerchantSave]
type = game
data = false
data_type = Boolean
desc = 与商店的交易动作会触发数据的保存

[useEnforceMDoorPosition]
type = game
data = false
data_type = Boolean
desc = 迫使神秘之门在附近产生

[useSpawnLootOnAnimation]
type = game
data = false
data_type = Boolean
desc = 战利品在怪物被击杀一段时间后出现，而不是立即出现

[useSpawnRelevantLoot]
type = game
data = false
data_type = Boolean
desc = 只生成玩家和队员可拾取的战利品

[useErasePermitOnOpenShop]
type = game
data = true
data_type = Boolean
desc = 玩家在开店后会立即消耗许可证

[useEraseUnTradeAbleDrop]
type = game
data = false
data_type = Boolean
desc = 不可交易的物品在掉落后立即消失

[useErasePetOnExpiration]
type = game
data = false
data_type = Boolean
desc = 宠物到期后直接删除

[useBuffMostSignificant]
type = game
data = true
data_type = Boolean
desc = 使用同类增益道具时，玩家保留使用列表中最高的属性提升，而不是覆盖属性

[maxMonitoredBuffStats]
type = game
data = 5
data_type = Integer
desc = 覆盖的属性buff失效后，保留被覆盖的buff个数

[useBuffEverlasting]
type = game
data = false
data_type = Boolean
desc = 无限buff时间

[useMultipleSameEquipDrop]
type = game
data = true
data_type = Boolean
desc = 允许相同的装备掉落多份，掉落的份数取决于定义的掉落物数量

[useBanishAbleTownScroll]
type = game
data = false
data_type = Boolean
desc = 

[useEnableFullRespawn]
type = game
data = false
data_type = Boolean
desc = 是否按最大数量刷新，刷新怪物的数量是否按地图人数决定，最大6人

[useEnableChatLog]
type = game
data = false
data_type = Boolean
desc = 记录聊天日志

[useRebirthSystem]
type = game
data = false
data_type = Boolean
desc = 是否开启转生系统

[useMapOwnershipSystem]
type = game
data = false
data_type = Boolean
desc = 是否开启地图所有权系统

[useNpcScriptable]
type = game
data = true
data_type = Boolean
desc = 是否启用服务端预置的NPC脚本

[useOldGmsStyledPqNpcs]
type = game
data = true
data_type = Boolean
desc = 使组队任务npc具有与旧GMS风格相似的行为，跳过PQ的信息，并立即尝试注册队伍

[useEnableCustomNpcScript]
type = game
data = false
data_type = Boolean
desc = 是否启用heavenms自定义的npc脚本

[useEnableSoloExpeditions]
type = game
data = true
data_type = Boolean
desc = 允许玩家单人进入副本

[useEnableDailyExpeditions]
type = game
data = false
data_type = Boolean
desc = 启用每日副本入场限制

[useEnableRecallEvent]
type = game
data = false
data_type = Boolean
desc = 使下线的玩家能够重新登录他们在退出之前进入的最后一个事件实例。仅在事件尚未清除或处理时有效

[useAnnounceShopItemSold]
type = game
data = false
data_type = Boolean
desc = 玩家商店物品被卖，是否通知所有人

[useAnnounceChangeJob]
type = game
data = false
data_type = Boolean
desc = 更换职业时自动发送消息给好友

[useJointCashShopInventory]
type = game
data = false
data_type = Boolean
desc = 允许玩家多个角色间共享现金商城库存，不过独特的现金物品不会出现在其中

[useClearOutdatedCoupons]
type = game
data = true
data_type = Boolean
desc = 是否自动清除过期的点券

[allowCashShopNameChange]
type = game
data = true
data_type = Boolean
desc = 现金商城是否允许购买改名卡

[allowCashShopWorldTransfer]
type = game
data = true
data_type = Boolean
desc = 现金商城是否允许购买瞬移石

[useMakerPermissiveAtkUp]
type = game
data = true
data_type = Boolean
desc = 非武器装备能否强化攻击

[useMakerFeeHeuristics]
type = game
data = true
data_type = Boolean
desc = 制造成本是否计算辅助剂费用

[useStarterMerge]
type = game
data = false
data_type = Boolean
desc = 是否开启装备融合

[blockGenerateCashItem]
type = game
data = false
data_type = Boolean
desc = 是否允许添加现金物品，或者添加现金掉落

[useWholeServerRanking]
type = game
data = false
data_type = Boolean
desc = 是否启用全服排名，而不是大区排名

[equipExpRate]
type = game
data = 1.0
data_type = Double
desc = 装备经验倍率, 线性增长. 默认1.0 (大约100-200个同等级怪物可以让装备升级)

[pqBonusExpRate]
type = game
data = 0.5
data_type = Double
desc = 组队任务经验倍率

[partyBonusExpRate]
type = game
data = 1.0
data_type = Double
desc = 组队经验倍率

[expSplitLevelInterval]
type = game
data = 5
data_type = Integer
desc = 组队非攻击玩家必须在N级之间才能获取到怪物经验

[expSplitMvpMod]
type = game
data = 0.2
data_type = Double
desc = 组队怪物经验，队长的经验比例

[expSplitCommonMod]
type = game
data = 0.8
data_type = Double
desc = 组队分配怪物经验，队员分配的经验比例

[timezone]
type = game
data = GMT+8
data_type = String
desc = 服务时区

[maxAp]
type = game
data = 32767
data_type = Integer
desc = 允许获得的最大属性点

[maxEventLevels]
type = game
data = 8
data_type = Integer
desc = 最大的事件奖励等级，每个等级获取到的事件奖励会有差异

[reopenNpcInterval]
type = game
data = 500
data_type = Long
desc = 与NPC交谈的最小时间间隔，默认500ms

[totMobQuestRequirement]
type = game
data = 0
data_type = Integer
desc = TOT任务需要的怪物数，0为默认999ms

[mobReactorRefreshTime]
type = game
data = 0
data_type = Integer
desc = 0为默认30000ms

[partySearchReentryLimit]
type = game
data = 10
data_type = Integer
desc = 允许队长被组队搜索到的次数

[nameChangeCoolDown]
type = game
data = 2592000000
data_type = Long
desc = 改名的冷却时间，默认30天，单位ms

[worldTransferCoolDown]
type = game
data = 2592000000
data_type = Long
desc = 转区的冷却时间，默认30天，单位ms

[instantNameChange]
type = game
data = false
data_type = Boolean
desc = 改名是否在服务重启后生效

[itemExpireTime]
type = game
data = 180000
data_type = Long
desc = 掉落物的消失时间，默认3min

[kiteExpireTime]
type = game
data = 3600000
data_type = Long
desc = 现金物品的消失时间，默认1h

[itemMonitorTime]
type = game
data = 300000
data_type = Long
desc = 地图不存在的物品检查，定时任务时间间隔，默认5min

[itemExpireCheck]
type = game
data = 10000
data_type = Long
desc = 定时检查掉落物是否需要消失，默认10s

[itemLimitOnMap]
type = game
data = 200
data_type = Integer
desc = 地图最多能存在多少个物品

[mapVisitedSize]
type = game
data = 5
data_type = Integer
desc = 最多保留每个玩家待过的最近n个地图，用于恢复和更新玩家的物品掉落的记录，默认5

[mapDamageOvertimeInterval]
type = game
data = 5000
data_type = Long
desc = 地图伤害的时间间隔，默认5s，有些地图会对玩家持续造成伤害

[mobStatusMonitorProc]
type = game
data = 200
data_type = Long
desc = 在怪物仇恨监测时间表上每次触发之间的毫秒频率

[mobStatusMonitorLife]
type = game
data = 84
data_type = Long
desc = 闲置触发计数怪物仇恨监控器允许在那里，然后关闭它由于不活动

[mobStatusAggroPersistence]
type = game
data = 2
data_type = Long
desc = 空闲触发依赖于一个怪的仇恨更新来保持跟随当前的玩家，因为他/她是主要的伤害攻击

[mobStatusAggroInterval]
type = game
data = 5000
data_type = Long
desc = 怪物仇恨值更新之间的间隔，默认5s

[useAutoAggroNearby]
type = game
data = false
data_type = Boolean
desc = 当玩家接近怪物时，它们会开始跟随玩家

[usePerfectGmScroll]
type = game
data = true
data_type = Boolean
desc = GM使用卷轴不会失败

[usePerfectScrolling]
type = game
data = false
data_type = Boolean
desc = 砸卷失败不消耗次数

[useEnhancedChScroll]
type = game
data = false
data_type = Boolean
desc = 混沌卷轴能提供更好的属性

[useEnhancedCrafting]
type = game
data = false
data_type = Boolean
desc = 锻造的装备会被使用一次混沌卷轴

[useEnhancedClnSlate]
type = game
data = false
data_type = Boolean
desc = 白卷也可以用于恢复成功使用的槽

[scrollChanceRolls]
type = game
data = 1
data_type = Integer
desc = 卷轴成功率倍数

[chScrollStatRate]
type = game
data = 1
data_type = Integer
desc = 混沌卷轴属性倍数

[chScrollStatRange]
type = game
data = 6
data_type = Integer
desc = 混沌卷的改变范围

[useUltraNimbleFeet]
type = game
data = false
data_type = Boolean
desc = 新手技能：加大量移速和跳跃

[useUltraRecovery]
type = game
data = false
data_type = Boolean
desc = 新手技能：回复量大大提升

[useUltraThreeSnails]
type = game
data = false
data_type = Boolean
desc = 新手技能：投掷蜗牛壳伤害增加

[useFullAranSkillSet]
type = game
data = false
data_type = Boolean
desc = 战神0转直接解锁所有技能

[useFastReuseHeroWill]
type = game
data = false
data_type = Boolean
desc = 大大减少战神技能冷却

[useAntiImmunityCrash]
type = game
data = false
data_type = Boolean
desc = 碰撞技能额外移除怪物的无敌

[useUnDispelHolyShield]
type = game
data = false
data_type = Boolean
desc = 神圣护盾减少怪物对玩家的伤害

[useFullHolySymbol]
type = game
data = false
data_type = Boolean
desc = 神圣符不再需要玩家共享经验才能发挥完全的作用

[useAddSlotsByLevel]
type = game
data = false
data_type = Boolean
desc = 每20级增加背包容量

[useAddRatesByLevel]
type = game
data = false
data_type = Boolean
desc = 每20级增加个人倍率

[useStackCouponRates]
type = game
data = false
data_type = Boolean
desc = 经验卡和掉落卡能够叠加

[usePerfectPitch]
type = game
data = false
data_type = Boolean
desc = 30级后每升一级奖励一个大力币

[useQuestRate]
type = game
data = false
data_type = Boolean
desc = 独立任务倍率开关

[questPointRepeatableInterval]
type = game
data = 25
data_type = Integer
desc = 可重复任务完成之间的最小间隔，以获得任务点数，默认25h

[questPointRequirement]
type = game
data = 0
data_type = Integer
desc = 多少任务点数加1点声望，默认0不开启任务点数机制

[questPointPerQuestComplete]
type = game
data = 0
data_type = Integer
desc = 完成任务奖励多少任务点数

[questPointPerEventClear]
type = game
data = 0
data_type = Integer
desc = 完成活动事件奖励多少任务点数

[createGuildMinPartners]
type = game
data = 6
data_type = Integer
desc = 创建家族的最小人数

[createGuildCost]
type = game
data = 1500000
data_type = Integer
desc = 创建家族的价格

[changeEmblemCost]
type = game
data = 5000000
data_type = Integer
desc = 更改家族徽章的价格

[expandGuildBaseCost]
type = game
data = 500000
data_type = Integer
desc = 家族扩充的价格

[expandGuildTierCost]
type = game
data = 1000000
data_type = Integer
desc = 扩充家族金币的增值

[expandGuildMaxCost]
type = game
data = 5000000
data_type = Integer
desc = 扩充家族的金币最大值

[familyRepPerKill]
type = game
data = 4
data_type = Integer
desc = 家族杀怪获得多少贡献

[familyRepPerBossKill]
type = game
data = 20
data_type = Integer
desc = 家族击杀boss获得多少贡献

[familyRepPerLevelUp]
type = game
data = 200
data_type = Integer
desc = 家族多少贡献升级

[familyMaxGenerations]
type = game
data = 1000
data_type = Integer
desc = 家族成员的最大人数

[useEquipmentLevelUpSlots]
type = game
data = true
data_type = Boolean
desc = 装备升级时有可能会得到砸卷次数

[useEquipmentLevelUpPower]
type = game
data = false
data_type = Boolean
desc = 装备升级时获得属性提升

[useEquipmentLevelUpCash]
type = game
data = false
data_type = Boolean
desc = 时装也可以升级

[useSpikesAvoidBanish]
type = game
data = false
data_type = Boolean
desc = 

[maxEquipmentLevelUpStatUp]
type = game
data = 1000
data_type = Integer
desc = 装备升级一次最多增加多少属性

[maxEquipmentStat]
type = game
data = 32767
data_type = Integer
desc = 装备升级最多增加多少属性

[useEquipmentLevelUp]
type = game
data = 1
data_type = Integer
desc = 装备等级上限，1为不能升级

[useChairExtraHeal]
type = game
data = false
data_type = Boolean
desc = 启用地图椅以进一步恢复玩家的生命值和MP，玩家必须具有椅子精通技能

[chairExtraHealMultiplier]
type = game
data = 10
data_type = Integer
desc = 启用后椅子额外恢复的倍数

[chairExtraHealMaxDelay]
type = game
data = 21
data_type = Integer
desc = 启用后多少秒恢复一次

[playerNpcInitialX]
type = game
data = 262
data_type = Integer
desc = 名人堂玩家形象摆放位置，x坐标

[playerNpcInitialY]
type = game
data = 262
data_type = Integer
desc = 名人堂玩家形象摆放位置，y坐标

[playerNpcAreaX]
type = game
data = 320
data_type = Integer
desc = 名人堂玩家形象摆放横向间隔

[playerNpcAreaY]
type = game
data = 320
data_type = Integer
desc = 名人堂玩家形象摆放纵向间隔

[playerNpcAreaSteps]
type = game
data = 4
data_type = Integer
desc = 短时间内改变名人堂玩家形象的次数

[playerNpcOrganizeArea]
type = game
data = true
data_type = Boolean
desc = 如果没有空间设置新NPC，则自动重新排列地图上的名人堂玩家NPC。为了解决这个问题，减小了名人堂玩家形象之间的间距。

[playerNpcAutoDeploy]
type = game
data = false
data_type = Boolean
desc = 满级是否自动成为名人堂玩家，否则需要找一转NPC花费金币进入名人堂

[useCompulsoryAutoPot]
type = game
data = true
data_type = Boolean
desc = 宠物会消耗尽可能多的药水来恢复到设定值

[petAutoHpRatio]
type = game
data = 0.99
data_type = Double
desc = 宠物回血百分比

[petAutoMpRatio]
type = game
data = 0.99
data_type = Double
desc = 宠物回蓝百分比

[petExhaustCount]
type = game
data = 3
data_type = Integer
desc = 最大宠物数量

[mountExhaustCount]
type = game
data = 1
data_type = Integer
desc = 骑宠的疲劳过程计算，每分钟1次

[petsNeverHungry]
type = game
data = false
data_type = Boolean
desc = 宠物不会饥饿

[gmPetsNeverHungry]
type = game
data = true
data_type = Boolean
desc = GM宠物不会饥饿

[eventMaxGuildQueue]
type = game
data = 10
data_type = Integer
desc = 家族对抗赛最多允许加入的队列人数

[eventLobbyDelay]
type = game
data = 10
data_type = Integer
desc = 打开每个活动事件对话的冷却时间，单位s

[useFastDojoUpgrade]
type = game
data = false
data_type = Boolean
desc = 是否开启道馆快速升级

[useDeadlyDojo]
type = game
data = false
data_type = Boolean
desc = 是否开启道馆快速升级

[dojoEnergyAtk]
type = game
data = 100
data_type = Integer
desc = 攻击获得道场能量

[dojoEnergyDmg]
type = game
data = 20
data_type = Integer
desc = 承伤获得道场能量

[weddingReservationDelay]
type = game
data = 3
data_type = Integer
desc = 允许婚礼预定的最小数量

[weddingReservationTimeout]
type = game
data = 10
data_type = Integer
desc = 婚礼预定的超时时间，默认10min

[weddingReservationInterval]
type = game
data = 60
data_type = Integer
desc = 婚礼持续时间，默认60min

[weddingBlessExp]
type = game
data = 30000
data_type = Integer
desc = 婚礼祝福获取的经验

[weddingGiftLimit]
type = game
data = 1
data_type = Integer
desc = 每个人最多只能送出一份结婚礼物

[weddingBlesserShowFx]
type = game
data = true
data_type = Boolean
desc = 是否显示玩家的婚礼祝福

[useBuybackSystem]
type = game
data = false
data_type = Boolean
desc = 是否启用买活系统

[useBuybackWithMesos]
type = game
data = false
data_type = Boolean
desc = 是否用金币买活，否则用点券

[buybackFee]
type = game
data = 77.70
data_type = Double
desc = 买活的基本花费，30级前买活都是固定的

[buybackLevelStackFee]
type = game
data = 85.47
data_type = Double
desc = 每增长一级买活增长的花费，直到120级达到最高

[buybackMesoMultiplier]
type = game
data = 1000
data_type = Integer
desc = 金币买活花费的倍数

[buybackReturnMinutes]
type = game
data = 1
data_type = Integer
desc = 玩家能在死亡几min内买活

[buybackCoolDownMinutes]
type = game
data = 7
data_type = Integer
desc = 买活的冷却时间，单位min

[timeoutDuration]
type = game
data = 3600000
data_type = Long
desc = 每隔多少ms，移除与服务端断连的客户端

[eventEndTimestamp]
type = game
data = 4091679622000
data_type = Long
desc = 活动事件结束的时间戳

[buyFameFee]
type = game
data = 0
data_type = Integer
desc = 购买1点人气消耗的金币，为0时不能购买

[bmMobRate]
type = game
data = 1
data_type = Integer
desc = 怪物倍率，最高10倍。小于等于0默认1倍怪，大于10倍默认10倍怪

[useEnforceSpecifyLevelExpRate]
type = game
data = 0
data_type = Integer
desc = 指定某个等级之后强制使用1倍的经验倍率

[playerLevelUpBroadcast]
type = game
data = true
data_type = Boolean
desc = 是否启用升级全服广播

[isKnightsOfCygnus]
type = game
data = true
data_type = Boolean
desc = 是否开启骑士团职业

[isAran]
type = game
data = true
data_type = Boolean
desc = 是否开启英雄职业

[hiredMerchantExpRate]
type = game
data = 0.0
data_type = Double
desc = 雇佣商店增加的经验率，小于等0不生效

[pickedEquipRandomValue]
type = game
data = 0
data_type = Integer
desc = 捡起的装备上下浮动的值，只浮动不为0的属性

[pickedEquipRandomOpenLevel]
type = game
data = 0
data_type = Integer
desc = 捡起的装备上下浮动开启的等级

