[help]
level = 0
class_name = HelpCommand
desc = 帮助指令，输出所有可用指令列表

[commands]
level = 0
class_name = HelpCommand
desc = 帮助指令，输出所有可用指令列表

[droplimit]
level = 0
class_name = DropLimitCommand
desc = 查看服务器最大掉落物数量

[time]
level = 0
class_name = TimeCommand
desc = 显示服务器时间

[buyback]
level = 0
class_name = BuyBackCommand
desc = 买活指令，死亡后可以立即买活

[gacha]
level = 0
class_name = GachaCommand
desc = 查询扭蛋机部分奖励列表

[dispose]
level = 0
class_name = DisposeCommand
desc = 解卡指令，客户端异常时可以解卡

[equiplv]
level = 0
class_name = EquipLvCommand
desc = 显示装备等级

[rates]
level = 0
class_name = ShowRatesCommand
desc = 倍率查看

[online]
level = 0
class_name = OnlineCommand
desc = 查询在线人数，人物所在位置

[bug]
level = 0
class_name = ReportBugCommand
desc = 给GM反馈BUG

[points]
level = 0
class_name = ReadPointsCommand
desc = 查询奖励点数和投票点数，暂时没发现有什么用

[event]
level = 0
class_name = JoinEventCommand
desc = 参加或离开活动

[ranks]
level = 0
class_name = RanksCommand
desc = 查看排名

[autoadd]
level = 0
class_name = AutoAddCommand
desc = 自动加点

[toggleexp]
level = 0
class_name = ToggleExpCommand
desc = 切换是否获取经验

[mapowner]
level = 0
class_name = MapOwnerClaimCommand
desc = 查询地图归属

[map]
level = 0
class_name = MapIdCommand
desc = 查看地图id

[buyfame]
level = 0
class_name = BuyFameCommand
desc = 购买人气

[pfp]
level = 0
class_name = PfpCommand
desc = 启动宠物全屏拣取:

[bosshp]
level = 1
class_name = BossHpCommand
desc = 显示BOSS血量

[mobhp]
level = 1
class_name = MobHpCommand
desc = 显示怪物血量

[whatdropsfrom]
level = 1
class_name = WhatDropsFromCommand
desc = 查询怪物掉落的物品

[whodrops]
level = 1
class_name = WhoDropsCommand
desc = 查询物品掉落的怪物

[buffme]
level = 1
class_name = BuffMeCommand
desc = 给自己管理员祝福

[goto]
level = 1
class_name = GotoCommand
desc = 移动到指定地图

[recharge]
level = 2
class_name = RechargeCommand
desc = 充能您的使用道具。

[whereami]
level = 2
class_name = WhereaMiCommand
desc = 查询当前地图中的玩家及NPC

[hide]
level = 2
class_name = HideCommand
desc = 隐身

[unhide]
level = 2
class_name = UnHideCommand
desc = 解除隐身

[sp]
level = 2
class_name = SpCommand
desc = 增加技能点

[ap]
level = 2
class_name = ApCommand
desc = 增加能力点数

[empowerme]
level = 2
class_name = EmpowerMeCommand
desc = 使用更多的buff强化自己

[buffmap]
level = 2
class_name = BuffMapCommand
desc = 地图所有玩家获得Buff

[buff]
level = 2
class_name = BuffCommand
desc = 给自己使用BUFF技能

[bomb]
level = 2
class_name = BombCommand
desc = 使用炸弹攻击玩家

[dc]
level = 2
class_name = DcCommand
desc = 将指定玩家踢下线

[cleardrops]
level = 2
class_name = ClearDropsCommand
desc = 清除丢弃的物品

[clearslot]
level = 2
class_name = ClearSlotCommand
desc = 清理自己的背包

[clearsavelocs]
level = 2
class_name = ClearSavedLocationsCommand
desc = 清除玩家保存的位置

[warp]
level = 2
class_name = WarpCommand
desc = 将玩家传送到指定地图。

[warphere]
level = 2
class_name = SummonCommand
desc = 将另一个玩家传送到您所在的地图。

[warpto]
level = 2
class_name = ReachCommand
desc = 查询玩家在几线

[summon]
level = 2
class_name = SummonCommand
desc = 将另一个玩家传送到您所在的地图。

[reach]
level = 2
class_name = ReachCommand
desc = 查询玩家在几线

[follow]
level = 2
class_name = ReachCommand
desc = 查询玩家在几线

[gmshop]
level = 2
class_name = GmShopCommand
desc = 打开GM商店

[heal]
level = 2
class_name = HealCommand
desc = 治疗自己

[item]
level = 2
class_name = ItemCommand
desc = 添加物品

[drop]
level = 2
class_name = ItemDropCommand
desc = 添加掉落

[level]
level = 2
class_name = LevelCommand
desc = 设置等级 可降级

[levelpro]
level = 2
class_name = LevelProCommand
desc = 提高等级 不可降级

[setslot]
level = 2
class_name = SetSlotCommand
desc = 设置玩家的背包槽位数量。

[setstat]
level = 2
class_name = SetStatCommand
desc = 设置玩家的属性点数。

[maxstat]
level = 2
class_name = MaxStatCommand
desc = 最高等级及属性

[maxskill]
level = 2
class_name = MaxSkillCommand
desc = 技能全满

[resetskill]
level = 2
class_name = ResetSkillCommand
desc = 重置技能点

[search]
level = 2
class_name = SearchCommand
desc = 暂无描述

[jail]
level = 2
class_name = JailCommand
desc = 将玩家关进监狱

[unjail]
level = 2
class_name = UnJailCommand
desc = 释放监狱玩家

[job]
level = 2
class_name = JobCommand
desc = 改变职业

[unbug]
level = 2
class_name = UnBugCommand
desc = 解决地图中的卡bug问题。

[id]
level = 2
class_name = IdCommand
desc = 查询物品的ID。

[gachalist]
level = 2
class_name = GachaListCommand
desc = 查询宝箱物品

[loot]
level = 2
class_name = LootCommand
desc = 拾取所有属于你的物品

[debuff]
level = 3
class_name = DebuffCommand
desc = 对地图上的玩家施加不同的异常状态。

[fly]
level = 3
class_name = FlyCommand
desc = 启用或禁用玩家的飞行功能。

[spawn]
level = 3
class_name = SpawnCommand
desc = 生成怪物到玩家当前位置。

[mutemap]
level = 3
class_name = MuteMapCommand
desc = 将当前地图静音或取消静音。

[checkdmg]
level = 3
class_name = CheckDmgCommand
desc = 检查玩家的最大基础伤害（在技能之前）。

[inmap]
level = 3
class_name = InMapCommand
desc = 查看当前地图上的所有玩家。

[reloadevents]
level = 3
class_name = ReloadEventsCommand
desc = 重新加载事件脚本

[reloaddrops]
level = 3
class_name = ReloadDropsCommand
desc = 重新加载怪物掉落数据。

[reloadportals]
level = 3
class_name = ReloadPortalsCommand
desc = 重新加载传送门脚本。

[reloadmap]
level = 3
class_name = ReloadMapCommand
desc = 重新加载当前地图。

[reloadshops]
level = 3
class_name = ReloadShopsCommand
desc = 重新加载商店脚本。

[hpmp]
level = 3
class_name = HpMpCommand
desc = 为指定玩家恢复HP和MP或修改HP和MP值。

[maxhpmp]
level = 3
class_name = MaxHpMpCommand
desc = 设置自己或其他玩家的最大HP和MP值。

[music]
level = 3
class_name = MusicCommand
desc = 播放指定的游戏音乐。

[monitor]
level = 3
class_name = MonitorCommand
desc = 监视或停止监视玩家的活动。

[monitors]
level = 3
class_name = MonitorsCommand
desc = 列出当前正在被监视的玩家。

[ignore]
level = 3
class_name = IgnoreCommand
desc = 在游戏中忽略或取消忽略指定的玩家。

[ignored]
level = 3
class_name = IgnoredCommand
desc = 暂无描述

[pos]
level = 3
class_name = PosCommand
desc = 获取玩家当前位置信息和Foothold ID。

[togglecoupon]
level = 3
class_name = ToggleCouponCommand
desc = 在服务器上切换优惠券（Coupon）的状态。

[togglewhitechat]
level = 3
class_name = ChatCommand
desc = 切换聊天模式。

[fame]
level = 3
class_name = FameCommand
desc = 更改玩家的声望（Fame）值。

[givenx]
level = 3
class_name = GiveNxCommand
desc = 添加点券

[givevp]
level = 3
class_name = GiveVpCommand
desc = 向玩家授予投票点（Vote Points）。

[givems]
level = 3
class_name = GiveMesosCommand
desc = 添加金币

[giverp]
level = 3
class_name = GiveRpCommand
desc = 向玩家授予奖励点（Reward Points）。

[expeds]
level = 3
class_name = ExpedsCommand
desc = 列出服务器中各频道的远征队伍信息。

[kill]
level = 3
class_name = KillCommand
desc = 杀死玩家

[seed]
level = 3
class_name = SeedCommand
desc = 在HPQ地图中生成种子物品。

[maxenergy]
level = 3
class_name = MaxEnergyCommand
desc = 最大道馆能量

[killall]
level = 3
class_name = KillAllCommand
desc = 清怪掉落

[notice]
level = 3
class_name = NoticeCommand
desc = 发送服务器公告。

[rip]
level = 3
class_name = RipCommand
desc = 发送RIP消息。

[openportal]
level = 3
class_name = OpenPortalCommand
desc = 打开指定传送门。

[closeportal]
level = 3
class_name = ClosePortalCommand
desc = 关闭指定地图上的传送门。

[pe]
level = 3
class_name = PeCommand
desc = 模拟接收特定封包以进行调试。

[startevent]
level = 3
class_name = StartEventCommand
desc = 在当前地图启动一个事件，可以设置参与玩家数量。

[endevent]
level = 3
class_name = EndEventCommand
desc = 结束服务器上正在进行的事件。

[startmapevent]
level = 3
class_name = StartMapEventCommand
desc = 在当前地图启动一个事件。

[stopmapevent]
level = 3
class_name = StopMapEventCommand
desc = 停止当前地图上正在进行的事件。

[online2]
level = 3
class_name = OnlineTwoCommand
desc = 暂无描述

[ban]
level = 3
class_name = BanCommand
desc = 禁止玩家访问服务器并记录原因。

[unban]
level = 3
class_name = UnBanCommand
desc = 解除封禁某个玩家。

[healmap]
level = 3
class_name = HealMapCommand
desc = 恢复当前地图上所有角色的健康（HP和MP）。

[healperson]
level = 3
class_name = HealPersonCommand
desc = 为指定玩家恢复健康（HP和MP）。

[hurt]
level = 3
class_name = HurtCommand
desc = 伤害指定玩家的1点HP。

[killmap]
level = 3
class_name = KillMapCommand
desc = 杀死当前地图上的所有玩家。

[night]
level = 3
class_name = NightCommand
desc = 在当前地图上触发夜晚效果。

[npc]
level = 3
class_name = NpcCommand
desc = 生成NPC并放置在玩家位置。

[face]
level = 3
class_name = FaceCommand
desc = 更改玩家的面部表情（Face）ID。

[hair]
level = 3
class_name = HairCommand
desc = 更改玩家的发型。

[startquest]
level = 3
class_name = QuestStartCommand
desc = 启动指定任务。

[completequest]
level = 3
class_name = QuestCompleteCommand
desc = 强制完成指定任务。

[resetquest]
level = 3
class_name = QuestResetCommand
desc = 重置指定任务的进度。

[timer]
level = 3
class_name = TimerCommand
desc = 为指定玩家设置计时器或删除计时器。

[timermap]
level = 3
class_name = TimerMapCommand
desc = 在游戏地图中为所有玩家设置计时器或删除计时器。

[timerall]
level = 3
class_name = TimerAllCommand
desc = 为所有玩家设置计时器或删除计时器。

[warpmap]
level = 3
class_name = WarpMapCommand
desc = 将当前地图中的所有玩家传送到指定地图。

[warparea]
level = 3
class_name = WarpAreaCommand
desc = 将附近的玩家传送到指定地图。

[gotonpc]
level = 3
class_name = GotoNpcCommand
desc = 进入npcid对应的地图

[xiguai]
level = 3
class_name = SuckMonsterCommand
desc = 开启或关闭地图吸怪

[servermessage]
level = 4
class_name = ServerMessageCommand
desc = 设置服务器的公告信息。

[proitem]
level = 4
class_name = ProItemCommand
desc = 为自己创建一个具有指定属性的装备。

[seteqstat]
level = 4
class_name = SetEqStatCommand
desc = 为玩家的所有装备设置统一的属性值（如力量、敏捷、生命等）和速度跳跃属性值。

[exprate]
level = 4
class_name = ExpRateCommand
desc = 更改游戏服务器的经验倍率。

[mesorate]
level = 4
class_name = MesoRateCommand
desc = 更改服务器的金币倍率。

[droprate]
level = 4
class_name = DropRateCommand
desc = 更改游戏服务器的掉落率。

[bossdroprate]
level = 4
class_name = BossDropRateCommand
desc = 设置服务器的Boss掉落率。

[questrate]
level = 4
class_name = QuestRateCommand
desc = 更改服务器的任务倍率。

[travelrate]
level = 4
class_name = TravelRateCommand
desc = 设置旅行速度倍率。

[fishrate]
level = 4
class_name = FishingRateCommand
desc = 更改游戏服务器的钓鱼概率倍率。

[itemvac]
level = 4
class_name = ItemVacCommand
desc = 吸取玩家周围的所有物品。

[forcevac]
level = 4
class_name = ForceVacCommand
desc = 强制吸取地图上的所有物品。

[zakum]
level = 4
class_name = ZakumCommand
desc = 召唤扎昆怪物。

[horntail]
level = 4
class_name = HorntailCommand
desc = 在玩家当前位置生成暗黑龙王。

[pinkbean]
level = 4
class_name = PinkbeanCommand
desc = 在玩家位置下方生成Pinkbean BOSS怪物。

[pap]
level = 4
class_name = PapCommand
desc = 在玩家位置下方生成Papulatus BOSS怪物。

[pianus]
level = 4
class_name = PianusCommand
desc = 在玩家位置下方生成Pianus BOSS怪物。

[cake]
level = 4
class_name = CakeCommand
desc = 在游戏地图中生成一个蛋糕怪物。

[playernpc]
level = 4
class_name = PlayerNpcCommand
desc = 在当前地图生成一个玩家NPC。

[playernpcremove]
level = 4
class_name = PlayerNpcRemoveCommand
desc = 从当前地图移除一个玩家NPC。

[pnpc]
level = 4
class_name = PnpcCommand
desc = 在当前地图创建npc

[pnpcremove]
level = 4
class_name = PnpcRemoveCommand
desc = 移除当前地图创建的NPC

[pmob]
level = 4
class_name = PmobCommand
desc = 在当前地图创建怪物

[pmobremove]
level = 4
class_name = PmobRemoveCommand
desc = 移除当前地图创建的怪物

[debug]
level = 5
class_name = DebugCommand
desc = 暂无描述

[set]
level = 5
class_name = SetCommand
desc = 暂无描述

[showpackets]
level = 5
class_name = ShowPacketsCommand
desc = 开启/关闭封包信息

[showmovelife]
level = 5
class_name = ShowMoveLifeCommand
desc = 开启/关闭生物移动信息

[showsessions]
level = 5
class_name = ShowSessionsCommand
desc = 暂无描述

[iplist]
level = 5
class_name = IpListCommand
desc = 暂无描述

[setgmlevel]
level = 6
class_name = SetGmLevelCommand
desc = 设置GM等级

[warpworld]
level = 6
class_name = WarpWorldCommand
desc = 迁移大区 

[saveall]
level = 6
class_name = SaveAllCommand
desc = 保存

[dcall]
level = 6
class_name = DCAllCommand
desc = 将所有玩家踢下线

[mapplayers]
level = 6
class_name = MapPlayersCommand
desc = 显示地图中的玩家

[getacc]
level = 6
class_name = GetAccCommand
desc = 获取玩家账号

[shutdown]
level = 6
class_name = ShutdownCommand
desc = 关闭服务器

[clearquestcache]
level = 6
class_name = ClearQuestCacheCommand
desc = 清除任务缓存

[clearquest]
level = 6
class_name = ClearQuestCommand
desc = 清除单个任务缓存

[supplyratecoupon]
level = 6
class_name = SupplyRateCouponCommand
desc = 允许/禁止现金商店出售利率券

[spawnallpnpcs]
level = 6
class_name = SpawnAllPNpcsCommand
desc = 暂无描述

[eraseallpnpcs]
level = 6
class_name = EraseAllPNpcsCommand
desc = 清除所有的NPC

[addchannel]
level = 6
class_name = ServerAddChannelCommand
desc = 添加频道

[addworld]
level = 6
class_name = ServerAddWorldCommand
desc = 创建大区

[removechannel]
level = 6
class_name = ServerRemoveChannelCommand
desc = 移除大区的最后一个频道

[removeworld]
level = 6
class_name = ServerRemoveWorldCommand
desc = 移除大区

[shtj]
level = 0
class_name = DamageStatisticsCommand
desc = 伤害统计

