[timeTaskPurge]
type = server
data = 300000
data_type = Long
desc = 清除所有等待的任务间隔，避免任务一直不执行死锁、内存泄漏等，单位ms

[commonRefresh]
type = server
data = 777
data_type = Long
desc = 通用定时任务刷新间隔

[host]
type = server
data = 103.126.211.118
data_type = String
desc = 服务器ip

[localServer]
type = server
data = false
data_type = Boolean
desc = 是否为本地服务，如果是127.0.0.1就选true，其他为false

[useIpValidation]
type = server
data = false
data_type = Boolean
desc = 是否启用登录时IP检查功能

[useCharacterAccountCheck]
type = server
data = false
data_type = Boolean
desc = 是否启用登录时账户id检查功能

[useMaxRange]
type = server
data = true
data_type = Boolean
desc = 是否监听全地图事件

[lockMonitorTime]
type = server
data = 30000
data_type = Long
desc = 服务器锁的失效时间，避免死锁，默认30s


[language]
data = zh-CN