[channelIds]
type = world
data = 1,2,3,4,5
data_type = String
desc = 频道id

[serverMessage]
type = world
data = 欢迎来到小睡冒险岛!
data_type = String
desc = 游戏内滚动信息

[eventMessage]
type = world
data = 小睡1区!
data_type = String
desc = 选择大区展示的信息

[recommendedMessage]
type = world
data = 
data_type = String
desc = 推荐信息

[expRate]
type = world
data = 1
data_type = Integer
desc = 经验倍率

[mesoRate]
type = world
data = 1
data_type = Integer
desc = 金币倍率

[dropRate]
type = world
data = 1
data_type = Integer
desc = 掉落倍率

[bossDropRate]
type = world
data = 1
data_type = Integer
desc = BOSS掉落倍率

[questRate]
type = world
data = 1
data_type = Integer
desc = 完成任务的经验和金币倍率

[travelRate]
type = world
data = 1
data_type = Integer
desc = 旅行花费的时间倍率

[fishingRate]
type = world
data = 1
data_type = Integer
desc = 钓鱼倍率

[channelLoad]
type = world
data = 100
data_type = Integer
desc = 频道最大人数

[channelLocks]
type = world
data = 10
data_type = String
desc = 每个频道锁数量

